.requestForm {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  box-shadow: 0 0 30px rgb(0 0 0 / 8%);
  width: 60%;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  top: -15rem;
  left: 0;
}
.requestForm__subHeading,
.requestForm__heading {
  text-align: center;
  margin: 0 auto;
}
.requestForm__subHeading {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: #828282;
  width: 45%;
  padding-top: 3rem;
}
.requestForm__heading {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  color: #232323;
  width: 50%;
  padding-top: 0.5rem;
  padding-bottom: 5rem;
}
.requestForm__form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
.requestForm__form--nameInput,
.requestForm__form--emailInput,
.requestForm__form--telInput,
.requestForm__form--textArea {
  padding: 0.8rem;
  border: 1px solid #dfdfdf;
  outline: none;
  margin: 0 0 1rem 0;
  color: #828282;
}
.requestForm__fileDiv {
  border: 2px dashed #dfdfdf;
  border-radius: 0.5rem;
  margin: 2rem 0;
}
.requestForm__fileDiv--heading,
.requestForm__fileDiv--subHeading,
.addfiles {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #828282;
}
.requestForm__fileDiv--heading {
  font-size: 1.875rem;
  line-height: 2rem;
  margin-top: 1rem;
}
.requestForm__fileDiv--subHeading {
  font-size: 0.9rem;
  line-height: 1.875rem;
  margin-top: 0.5rem;
}
.requestForm__fileInput {
  display: none;
}
.addfiles {
  outline: none;
  display: block;
  border: none;
  font-size: 0.9rem;
  line-height: 1.875rem;
  background-color: transparent;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
#requestForm--redBgBtn {
  width: 13rem;
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.requestForm__bottomText {
  width: 100%;
  text-align: center;
  border-bottom: 0.3px solid rgba(117, 117, 117, 0.3);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 0;
  color: #232323;
  width: 50%;
  margin: 0 auto;
  margin-top: -8%;
  background-color: #f7f7f7;
}

.requestForm__bottomText--span {
  background-color: #f7f7f7;
  padding: 0 10px;
}
